@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Inter:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', 'sans-serif';
    background-color: #ffff;
    color: #C73283;


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    
}
.semua{
    display: flex;
    z-index: 100;
}

.container{
    width: 560px;
    height: auto;
    margin: 0 auto;
}
.kiri{
    width: 560px;
    height: auto;
}

.content{
    width: 860px;
    height: auto;
    gap: 5rem;
    align-items: center;
    margin: 0 auto;

}

.header{
    padding: 20px;
    color: #C73283;

    background-color: #ffff;
    flex-shrink: 0;
    margin-bottom: 15px;
    border-radius: 1.625rem;
    margin-top: -10rem;
    border: 3px solid #FF78C1;

}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.title i{
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
}
.description{
    font-size: 13px;

}
.card{
    background-color: #FFD3E6;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.card-task{

    background-color: #FFD3E6;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.input-control{
    
    width: 100%;
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    
}
::placeholder{
    color: #C73283;
    background-color: #ffff;

    font-size: 13px;
}

.text-right{
    text-align: left;
}
button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #ffff;
    color: #C73283;

}
.task-item{
    display: flex;
    justify-content: space-between;
}
.edit-task{
    color: rgb(215, 194, 255);
    size: 20px;
}
.delete-task{
    color: rgb(120, 23, 135);
    size: 20px;
}
.done{
    text-decoration: line-through;
    color: rgb(227, 100, 100);
}
.awal{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gambar{
    margin-top: -5rem;
    width: 1300px;
    height: 450px;
    z-index: -1;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #FFD3E6;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #DE8194;
    padding: .8rem;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #C73283;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #DE8194;
}


@media (max-width: 768px) {
    .container {
        width: 100%;
    }
  }